<html lang="es">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C-Finder</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cursos/css/v_cursos.css' %}">
  </head>

  <body>
    <!--Inicio de la Nav Bar-->
    <div class="navbar">
        <ul>
          <li id="logo" ><a href="#"><img class = "app-logo"src="{% static 'cursos/img/cfinderv2_v2.png' %}"  width="60px" alt="" /></a></li>
          <li style="padding-top:5px"><a href="#" ><img src="{% static 'cursos/img/logpng.png' %}" width="30px" alt="" /></a></li>
          <li><a href="#" style="font-size:30px;padding-top:15px;"> Usuario {{e}} </a></li>
          <li>
            <form action="" style="width: 100; padding-top:13px">
                <input
                  type=""
                  type="search"
                  placeholder="Ingresa la busqueda">
                <button type="submit">
                  <a href="{% url 'cursosdeandroidstudio' %}">Buscar🔎</a>
                </button>
            </form>
          </li>
        </ul>
    </div>
    <!--Fin de la nav-->
  <!--Inicio de los cursos-->
    <section class="sectionmain" >
      <div class="container1">
        <div>
          <div>
            <h1>Cursos Buscados</h1>
          </div> <!--Autocrea-->
          <div class = "card-buscados">
            <a href="#">
              <h2>Curso Python para Principiantes</h2>
              <img src="{% static 'cursos/img/youtube_logo.png' %}" width="45%" alt="">
            </a> <hr/>
            <h5> Plataforma:</h5> <a href="https://www.youtube.com/watch?v=chPhlsHoEPo&t=10437s&ab_channel=Fazt">YouTube</a>
            <h5>Autor:</h5> <a href="">Fazt</a>
            <p>
              Descipcion breve del video de youtube
            </p>
            <p> ¡Gracias a Kite por patrocinar esta sección del vídeo! Kite es un asistente de autocompletado gratuito con tecnología de IA que te ayudará a codificar de fo</p>
          </div>
        </div>

        <div>
            <div class = "card-buscados">
              <a href="#">
                <h2>Curso Completo de Python para Principiantes (2022)</h2>
                <img src="{% static 'cursos/img/youtube_logo.png' %}" width="45%" alt="">
              </a> <hr/>
              <h5> Plataforma:</h5> <a href="https://www.youtube.com/watch?v=swdcD6OPMlk&ab_channel=LucasMoy">YouTube</a>
              <h5>Autor:</h5> <a href="">Lucas Moy</a>
              <p>
                Descipcion breve del video de youtube
              </p>
              <p>  Sé Programador Python, una de las profesiones con más futuro y sé parte del cambio. Aprovecha tu tiempo en casa con nuestro curso 100% online de Programa</p>
            </div>
          </div>

          <div>
            <div class = "card-buscados">
              <a href="#">
                <h2>Curso Completo de Python para Principiantes (2022)</h2>
                <img src="{% static 'cursos/img/youtube_logo.png' %}" width="45%" alt="">
              </a> <hr/>
              <h5> Plataforma:</h5> <a href="https://www.youtube.com/watch?v=DAdRO6ByBoU&ab_channel=LaGeekipediaDeErnesto">YouTube</a>
              <h5>Autor:</h5> <a href="">La Geekipedia De Ernesto</a>
              <p>
                Descipcion breve del video de youtube
              </p>
              <p>  Curso Python desde cero - En esta entrega del curso de programación Python desde cero, verás la introducción al curso y realizaremos la instalación de Python en …</p>
            </div>
          </div>
          <div>
            <div class = "card-buscados">
              <a href="#">
                <h2>Curso de Python 3.10: Aprende Desde Cero a Pro 2022 Parte 1</h2>
                <img src="{% static 'cursos/img/udemy_logo.png' %}" width="45%" alt="">
              </a> <hr/>
              <h5> Plataforma:</h5> <a href="https://www.udemy.com/course/curso-de-python-310-aprende-desde-cero-a-pro-2022-parte-1/">udemy</a>
              <h5>Autor:</h5> <a href="">Marco Mendoza</a>
              <p>
                Descipcion breve del video de udemy
              </p>
              <p>  Aprende Como un Profesional Python 3.10.5 el Lenguaje de Programación Más Demandado del Mundo</p>
              <h5>Costo:</h5> <a href="">Gratis</a>
            </div>
          </div>
      </div>
          <!--End conteiner1-->

      <div class="container2">
        <h1 style="font-size: 2em;">Tambien podria interesarte</h1>
        <div class="card-sidebar">
          <a href="#">
            <div class="">
              <h2>Cursos de escom</h2>
            </div>
            <div class="">
              <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="100%" alt="">
              <br/>
              <hr/>
              <p>Reprehenderit mollitia consectetur assumenda quis quos.</p>
            </div>
          </a>
        </div>
        <div class="card-sidebar">
          <a href="#">
            <div class="">
              <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="100%" alt="">
              <br/>
              <hr/>
              <p>Reprehenderit mollitia consectetur assumenda quis quos.</p>
            </div>
          </a>
        </div>
        <div class="card-sidebar">
          <a href="#">
            <div class="">
              <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="100%" alt="">
              <br/>
              <hr/>
              <p>Reprehenderit mollitia consectetur assumenda quis quos.</p>
            </div>
          </a>
        </div>
     <!--End conteiner2-->
    </section>
    <!--Fin de los cursos-->

    <!-- Footer -->
    <div class="footer">
      <p>
        <a href="#">
          <span>
            <i></i>
            <i></i>
          </span>
        </a>
        <a href="#">
          <span>
            <i> </i>
            <i> </i>
          </span>
        </a>
        <a href="#">
          <span>
            <i></i>
            <i></i>
          </span>
        </a>
      </p>
      <p>
        <a href="#">Política de privacidad</a> · <a href="#">Aviso legal</a> ·
        <a href="#">Cookies</a>
      </p>
      <p>&copy; C-Finder 2022</p>
    </div>
</body>
</html>