ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15px 0 0;
    width: 98%;
    overflow: hidden;
    background-color: #cbdeed;
}

li {
    float: left;
    color: #341d0d;
    margin: auto;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #341d0d;
    color: #60a5e1;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #624c20
}

.sectionmain {
    box-sizing: border-box;
    background: white;
    text-align: center;
    line-height: 1.4;
    display: flex;
    flex-direction: row;
    padding: 85px;
}

.container1 {
    width: 80%;
    height: 100%;
    text-align: center;
}

.container2 {
    width: 20%;
    padding: 30px;
    background: #cbdeed39;
    margin: 50px;
}


/*nav*/

.app-logo {
    height: 5vmin 5vmax;
    pointer-events: none;
    padding-right: 1;
}

#logo {
    float: right;
    padding-right: 15px;
}


/*Contenido buscado, cards*/

.card-buscados {
    margin: auto;
    padding: 10px;
    color: #341d0d;
    width: 75%;
    background: #f8efed;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.324);
    border-radius: 15px;
    margin-top: 4em;
    padding: 1em;
}

.card-sidebar {
    margin: auto;
    padding: 10px;
    color: #341d0d;
    width: 75%;
    background: #f8efed;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.324);
    border-radius: 5px;
    margin-top: 4em;
    padding: 2em;
}

h1 {
    color: #341d0d;
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5em;
}

color1 {
    color: #341d0d;
    /* color2 { */
    color: #624c20;
    /* color3 { */
    color: #60a5e1;
    /* color4 { */
    color: #cbdeed;
    /*color5 {*/
    color: #f8efed;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #cbdeed;
    color: #624c20;
    text-align: center;
    padding: 0.5em;
}