<html>
  <head>
    {% load static %}

    <link rel="icon" href="{% static 'cursos/img/cfinderv2_v2.png' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C-Finder</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'cursos/css/v_cursos.css' %}"
    />
  </head>

  <body>
    <!--Inicio de la Nav Bar-->
    <div class="navbar">
      <ul>
        <li id="logo">
          <a href="{% url 'inicio' %}"
            ><img
              class="app-logo"
              src="{% static 'cursos/img/cfinderv2_v2.png' %}"
              width="60px"
              alt=""
          /></a>
        </li>
        <li style="padding-top: 5px">
          <a href="#"
            ><img
              src="{% static 'cursos/img/logpng.png' %}"
              width="30px"
              alt=""
          /></a>
        </li>
        <li>
          <a href="#" style="font-size: 30px; padding-top: 15px">
            Usuario {{e}}
          </a>
        </li>
        <li>
          <form action="" style="width: 100; padding-top: 13px">
            <input type="" type="search" placeholder="Ingresa la busqueda" />
            <button type="submit">
                Buscar🔎
            </button>
          </form>
        </li>
      </ul>
    </div>
    <!--Fin de la nav-->

    {% block content %} {% endblock %}
    <div class="footer">
      <footer>
        <div class="inner">
          <ul class="menu">
            <li>&copy; C-Finder. All rights reserved.</li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
