{% extends "cursos/base.html" %} {% load static %} {%block content %}

    <!--Fin de la nav-->
    <section style="padding-top: 85px; width: 80%; height:80vh">
      <div class="container"><!--class..."container"-->
        <div class="row align-items-center"><!--class..."row align-items-center"-->
          <!--Vista Previa-->
          <div class="col align-items-center"><!--class..."col align-items-center"-->
            <!--Titulo-->
            <h3 class="fw-bold text-center py-4"></h3><!--class..."fw-bold text-center py-4"-->

            <!--Vista-->
            <div class="card"><!--class..."card"-->
              <h5 class=""> </h5><!--class..."card-header"-->
              <div class="card-body "><!--class..."card-body"-->
                <h5 class="card-title">Eres muy importante para nosotros, por lo que te invitamos a guardar correctamente tus contraseñas.</h5><!--class..."card-title"-->
                <p class="card-text"></p><!--class..."card-text"-->
                <img src="{% static 'cursos/img/nube_segura.png' %}" width="200" alt=""/>
              </div>
            </div>

            
          </div>

          <!--Formulario-->
          <div class="col"><!--class..."col"-->
            <div class="text-end"><!--class..."text-end"-->
              
              <h2 class="fw-bold text-center py-4"></h2><!--class..."fw-bold text-center py-4"-->

              <form action="#">
                <!--Informacion General-->

                <!--Correo-->
                <div class="md-4 text-start"><!--class..."md-4 text-start"-->
                  <label for="vidname" class="form-label fw-bold"><!--class..."form-label fw-bold"-->
                    Correo registrado
                  </label>
                  <input
                    type="vidname"
                    class="form-control"
                    name="vidname"
                    placeholder="Ingrese correo registrado a su cuenta"
                  />
                </div>

                <div class="text-center">
                  <p></p>
                  <p style="color: red" class="fw-bold">Nota:</p>
                  <p style="color: rgb(109, 0, 0)">
                    Una vez que se solicite el cambio de contraseña se le mandara un correo el cual tendra una contraseña temporal la cual debera cambiar a la brevedad y guardar su nueva contraseña para evitar futuros inconvenientes.
                  </p>
                </div>

                <!--Boton de subida-->
                <div class="d-grid"><!--class..."d-grid"-->
                  <button type="submit" class="btn btn-primary text-center"><!--class..."btn btn-primary text-center"-->
                    Cambiar contraseña
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section> 

    {% endblock %}

