{% extends "cursos/base.html" %} {% load static %} {%block content %}

<div class="container">
  <div class="row align-items-center">
    <!--Vista Previa-->
    <div class="col text-center">
      <img src="candado.png" width="300" alt="" />
    </div>
    <!--Formulario-->
    <div class="col text-end">
      <img src="C-Finder_vector_logo.png" width="120" alt="" />
      <div class="text-end">
        <h2 class="fw-bold text-center py-4">Recuperar contraseña</h2>

        <form action="#">
          <!--Correo-->
          <div class="md-4 text-start">
            <label for="" class="form-label fw-bold"> Correo: </label>
            <input
              type=""
              class="form-control"
              name="corlost"
              placeholder="Ingrese el correo usado en el registro"
            />
            <br />
          </div>

          <!--Alerta-->
          <div class="alert alert-danger" role="alert">
            Una vez que le de click, se enviara un correo con su nueva
            contraseña
          </div>
          <!--Boton de subida-->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary text-center">
              Recuperar Contraseña
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
