<html lang="es">
  <head> 

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>C-Finder</title> 
  </head>

  <body>  
    <!--Inicio de la Nav Bar-->

    <nav class="">  
        <a href="#">
          <img src="../../static/cfinderv2_v2.png" width="100vh" alt="" />
        </a> 
        <a class="" href="" style="color: black" 
          <img src="../../static/logpng.png" width="30" alt="" />
          Usuario
        </a> 
      <div class=""> 
        <form action="" class="" style="width: 100">  
            <input
              type=""
              type="search"
              placeholder="Ingresa la busqueda" 
            <button class="" type="submit"> 
              Buscar🔎
            </button> 
        </form>
      </div>
    </nav>
    <!--Fin de la -->
    <section> 
      <!--Vista Previa-->
      <div class=""> 
        <img src="../../static/candado.png" width="300" alt="" />
      </div>
      <!--Formulario-->
      <div class=""> 
        <img src="../../static/cfinderv2_v2.png" width="120" alt="" />
        <div class="text-end">
          <h2 class="fw-bold text-center py-4">Recuperar contraseña</h2>

          <form action="#">
            <!--Correo-->
            <div class=" ">
              <label for="" class="">  Correo: </label>
              <input
                type=""
                class=""
                name="corlost"
                placeholder="Ingrese el correo usado en el registro"
              />
              <br />
            </div>

            <!--Alerta-->
            <div class="" role="alert"> 
              Una vez que le de click, se enviara un correo con su nueva
              contraseña
            </div>
            <!--Boton de subida-->
            <div class=""> 
              <button type="submit" class="btn text-center">
                Recuperar Contraseña
              </button>
            </div>
          </form>
        </div>
      </div> 
</section>
<!-- Footer -->
<footer>
  <p>
    <a href="#">
      <span>
        <i></i>
        <i></i>
      </span>
    </a>
    <a href="#">
      <span>
        <i> </i>
        <i> </i>
      </span>
    </a>
    <a href="#">
      <span>
        <i></i>
        <i></i>
      </span>
    </a>
  </p>
  <p>
    <a href="#">Política de privacidad</a> · <a href="#">Aviso legal</a> ·
    <a href="#">Cookies</a>
  </p>
  <p>&copy; C-Finder 2022</p>
</footer>
</body>
</html>
