<html lang="es">
  <head> 

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>C-Finder</title>
  </head>

  <body>
    <h1>
      <span>C-Finder</span>
    </h1>
    <section style="height: 84vh">   
          <!--Formulario-->
          <div class=""> 
            <div class=""> 
              <h2 class="">Login</h2>  
              <!--Login-->
              <form action="#">
                <!--Correo-->
                <div class=""> 
                  <label for="correo" class="" 
                    Correo Electronico
                  </label>
                  <input
                    type="correo"
                    class="form-control"
                    name="correo"
                    placeholder="Ingrese el correo electronico"
                  />
                </div>

                <!--Contraseña-->
                <div class=""> 
                  <label for="contraseña" class="" 
                    Contraseña
                  </label>
                  <input
                    type="contraseña"
                    class="form-control"
                    name="contraseña"
                    placeholder="Ingrese su contraseña"
                  />
                </div>

                <!--Conexion-->
                <div class=""> 
                  <input
                    type="checkbox"
                    name="conectado"
                    class="form-check-input"
                  />
                  <label for="conectado" class="" 
                    Mantenerme Conectado <br />
                  </label>
                </div>

                <!--Boton de inicio-->
                <div class=""> 
                  <button type="submit" class=""> 
                    Iniciar Sesion <br /><br />
                  </button>
                </div>

                <!--Extras-->
                <div class=""> 
                  <!--Contraseña olvidada-->
                  <span class="" 
                    <a href="fpassword" style="color: black">
                      Olvide mi contraseña <br />
                    </a>
                  </span>

                  <!--No tengo cuenta-->
                  <span class="" 
                    ¿No tienes cuenta?
                    <a href="registro" style="color: black">
                      Registrate aqui <br /><br />
                    </a>
                  </span>

                  <!--Iniciar como invitado-->
                  <span class="" 
                    <a href="cursos" style="color: black">
                      Iniciar como invitado
                    </a>
                  </span>
                </div>
              </form>
            </div>
          </div> 
    </section>
    <!-- Footer -->
    <footer>
      <p>
        <a href="#">
          <span>
            <i></i>
            <i></i>
          </span>
        </a>
        <a href="#">
          <span>
            <i> </i>
            <i> </i>
          </span>
        </a>
        <a href="#">
          <span>
            <i></i>
            <i></i>
          </span>
        </a>
      </p>
      <p>
        <a href="#">Política de privacidad</a> · <a href="#">Aviso legal</a> ·
        <a href="#">Cookies</a>
      </p>
      <p>&copy; C-Finder 2022</p>
    </footer>
  </body>
</html>
