{% extends "cursos/base.html" %} {% load static %} {%block content %}
<!--Fin de la Nav Bar-->
<section style="padding-top: 85px; width: 80%; height:90vh">
  <div class="container"><!--class..."container"-->
    <div class="row m"><!--class..."row m"-->
      <!--Espaciado-->
      <div class="col"><!--class..."col"-->
          <br><br><br><br>
          <!--Correo-->
          <div class="md-5 text-start"><!--class..."md-5 text-start"-->
              <label for="correo" class="form-label fw-bold"><!--class..."form-label fw-bold"-->
                  Correo Electronico
              </label>
              <input type="correo" class="" name="correo" placeholder="Ingrese un correo electronico para el registro"><!--class..."form-control border-1 border-dark rounded"-->
              <hr>
          </div>
          
          <!--Contraseña-->
          <div class="md-5 text-start"><!--class..."md-5 text-start"-->
              <label for="contraseña" class="form-label fw-bold"><!--class..."form-label fw-bold"-->
                  Contraseña
              </label>
              <input type="contraseña" class="form-control border-1 border-dark rounded" name="contraseña" placeholder="Ingrese la contraseña"><!--class..."form-control border-1 border-dark rounded"-->
          </div>

          <!--Contraseña-->
          <div class="md-5 text-start"><!--class..."md-5 text-start"-->
              <label for="contraseña" class="form-label fw-bold"><!--class..."form-label fw-bold"-->
                  Confirmar
              </label>
              <input type="" class="form-control border-1 border-dark rounded" name="contraseñarep" placeholder="Repita su contraseña"><!--class..."form-control border-1 border-dark rounded"-->
              <hr>
          </div>
          <h5 class="fw-bold text-center py-4">¿Eres profesor de ESCOM?</h5><!--class..."fw-bold text-center py-4"-->
                  <!--Profesor-->
                  
                  <div class="md-5 text-start"><!--class..."md-5 text-start"-->
                      <label for="correo" class="form-label fw-bold"><!--class..."form-label fw-bold"-->
                          ID
                      </label>
                      <input type="correo" class="form-control border-1 border-primary rounded" name="correo" placeholder="Ingrese el ID proporcionado por la ESCOM"><!--class..."form-control border-1 border-primary rounded"-->
                  </div>
              </form>
      </div>

      <!--Formulario derecha-->
      <div class="col"><!--class..."col"-->
          <div class="text-end"><!--class..."text-end"-->

              <h2 class="fw-bold text-center py-4">Registrate</h2><!--class..."fw-bold text-center py-4"-->

              <!--Login-->
              <form action="#">
                  <!--Nombre(s)-->
                  <div class="md-5 text-start"><!--class..."md-5 text-start"-->
                      <label for="nombs" class="form-label fw-bold"><!--class..."form-label fw-bold"-->
                          Nombre(s):
                      </label>
                      <input type="" class="form-control border-1 border-dark rounded" name="nombs" placeholder="Ingrese su(s) nombre(s) "><!--class..."form-control border-1 border-dark rounded"-->
                      <hr>
                  </div>

                  <!--Apellido Paterno-->
                  <div class="md-5 text-start"><!--class..."md-5 text-start"-->
                      <label for="appatern" class="form-label fw-bold"><!--class..."form-label fw-bold"-->
                          Apellido Paterno:
                      </label>
                      <input type="" class="form-control border-1 border-dark rounded" name="appatern" placeholder="Ingrese su apellido paterno"><!--class..."form-control border-1 border-dark rounded"-->
                      <hr>
                  </div>

                  <!--Apellido Materno-->
                  <div class="md-5 text-start"><!--class..."md-5 text-start"-->
                      <label for="apmatern" class="form-label fw-bold"><!--class..."form-label fw-bold"-->
                          Apellido Materno:
                      </label>
                      <input type="" class="form-control border-1 border-dark rounded" name="apmatern" placeholder="Ingrese su apellido materno"><!--class..."form-control border-1 border-dark rounded"-->
                      <hr>
                  </div>
                
                  <br>                               
                  <!--Boton de inicio-->
                  <div class="d-grid"><!--class..."d-grid"-->
                      <button type="submit" class="btn btn-primary text-center fw-bold"><!--class..."btn btn-primary text-center fw-bold"--> 
                          Ingresar <br><br>
                      </button>                                
                  </div>
              </form>
          </div>
      </div>
    </div>
  </div> 
</section>
        <!-- Footer -->
        {% endblock %}
