<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>C-Finder</title>

        <link integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="shortcut icon" href="../../static/cfinderv2_v2.png">
    </head>
    <body>
        
        <script integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!--Inicio de la Nav Bar-->
    <nav class=""><!--class..."navbar navbar-expand-sm"-->
        <div class=""><!--class..."container-fluid align-content-center"-->
          <div class=""><!--class..."row"-->
            <div class=""><!--class..."col"-->
              <a href="#">
                <img src="../../static/cfinderv2_v2.png" width="100vh" alt="">
              </a>
            </div>
            <div class=""><!--class..."col-auto mt-3"-->
              <a class="" href="" style="color: black;"><!--class..."navbar-brand"-->
                <img src="../../static/logpng.png" width="30" alt="">
                Usuario
              </a>
            </div>
            <div class=""><!--class..."col-auto"-->
              <form action="" class="" style="width: 100;"><!--class..."d-flex"-->
                <div class=""><!--class..."form-inline my-1 my-lg-3 "-->
                  <input type="" type="search" placeholder="Ingresa la busqueda"><!--class..."form-control me-2"-->
                  <button class="" type="submit"><!--class..."btn btn-outline-dark my-1 my-sm-0"-->
                    Buscar🔎
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </nav>
    <!--Fin de la Nav Bar-->
        <div class=""><!--class..."container"-->
                <div class=""><!--class..."row m"-->

                    <!--Espaciado-->
                    <div class=""><!--class..."col"-->
                        <br><br><br><br>
                        <!--Correo-->
                        <div class=""><!--class..."md-5 text-start"-->
                            <label for="correo" class=""><!--class..."form-label fw-bold"-->
                                Correo Electronico
                            </label>
                            <input type="correo" class="" name="correo" placeholder="Ingrese un correo electronico para el registro"><!--class..."form-control border-1 border-dark rounded"-->
                            <hr>
                        </div>
                        
                        <!--Contraseña-->
                        <div class=""><!--class..."md-5 text-start"-->
                            <label for="contraseña" class=""><!--class..."form-label fw-bold"-->
                                Contraseña
                            </label>
                            <input type="contraseña" class="" name="contraseña" placeholder="Ingrese la contraseña"><!--class..."form-control border-1 border-dark rounded"-->
                        </div>

                        <!--Contraseña-->
                        <div class=""><!--class..."md-5 text-start"-->
                            <label for="contraseña" class=""><!--class..."form-label fw-bold"-->
                                Confirmar
                            </label>
                            <input type="" class="" name="contraseñarep" placeholder="Repita su contraseña"><!--class..."form-control border-1 border-dark rounded"-->
                            <hr>
                        </div>
                        <h5 class="">¿Eres profesor de ESCOM?</h5><!--class..."fw-bold text-center py-4"-->
                                <!--Profesor-->
                                
                                <div class=""><!--class..."md-5 text-start"-->
                                    <label for="correo" class=""><!--class..."form-label fw-bold"-->
                                        ID
                                    </label>
                                    <input type="correo" class="" name="correo" placeholder="Ingrese el ID proporcionado por la ESCOM"><!--class..."form-control border-1 border-primary rounded"-->
                                </div>
                            </form>
                    </div>

                    <!--Formulario derecha-->
                    <div class=""><!--class..."col"-->
                        <div class=""><!--class..."text-end"-->

                            <h2 class="">Registrate</h2><!--class..."fw-bold text-center py-4"-->

                            <!--Login-->
                            <form action="#">
                                <!--Nombre(s)-->
                                <div class=""><!--class..."md-5 text-start"-->
                                    <label for="nombs" class=""><!--class..."form-label fw-bold"-->
                                        Nombre(s):
                                    </label>
                                    <input type="" class="" name="nombs" placeholder="Ingrese su(s) nombre(s) "><!--class..."form-control border-1 border-dark rounded"-->
                                    <hr>
                                </div>

                                <!--Apellido Paterno-->
                                <div class=""><!--class..."md-5 text-start"-->
                                    <label for="appatern" class=""><!--class..."form-label fw-bold"-->
                                        Apellido Paterno:
                                    </label>
                                    <input type="" class="" name="appatern" placeholder="Ingrese su apellido paterno"><!--class..."form-control border-1 border-dark rounded"-->
                                    <hr>
                                </div>

                                <!--Apellido Materno-->
                                <div class=""><!--class..."md-5 text-start"-->
                                    <label for="apmatern" class=""><!--class..."form-label fw-bold"-->
                                        Apellido Materno:
                                    </label>
                                    <input type="" class="" name="apmatern" placeholder="Ingrese su apellido materno"><!--class..."form-control border-1 border-dark rounded"-->
                                    <hr>
                                </div>
                             
                                <br>                               
                                <!--Boton de inicio-->
                                <div class=""><!--class..."d-grid"-->
                                    <button type="submit" class=""><!--class..."btn btn-primary text-center fw-bold"--> 
                                        Ingresar <br><br>
                                    </button>                                
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
        </div> 
        <!-- Footer -->
        <footer> 
            <p>
              <a href="#">
                <span>
                  <i></i>
                  <i></i>
                </span>
              </a>
              <a href="#">
                <span>
                  <i> </i>
                  <i> </i>
                </span>
              </a>
              <a href="#">
                <span>
                  <i></i>
                  <i></i>
                </span>
              </a>
            </p>
            <p>
              <a href="#">Política de privacidad</a> · <a href="#">Aviso legal</a> ·
              <a href="#">Cookies</a>
            </p>
            <p>&copy; C-Finder 2022</p> 
          </footer> 
      </body> 
      
</html>