{% extends "cursos/base.html" %} {% load static %} {%block content %}
  

  <!--Inicio de los cursos-->
<section>

  <div class=""><!--class..."container"-->
    <div class=""><!--class..."row row-cols-12"-->
      <div class=""><!--class..."col-10 text-start"-->
        <div class=""><!--class..."col-10 text-center"-->
          <h2>Cursos Buscados</h2>
        </div>
        <ul class=""><!--class..."list-group"-->
          <!--Autocrea-->
          <li class=""><!--class..."list-group-item"-->
            <div class=""><!--class..."card bg-warning"-->
              <span class=""><!--class..."border border-danger rounded"-->
                <div class=""><!--class..."row row-cols-12"-->
                  <div class=""><!--class..."col-4"-->
                    <a href="">
                      <img src="../../static/img/login_botrep.jpg" width="100%" alt="">
                    </a>
                  </div>
                  <div class=""><!--class..."col-6 text-center"-->
                    <h3>Titulo</h3>
                    <h5> Plataforma:</h5>
                    <a href="https://www.youtube.com">
                      <p class="">YouTube</p><!--class..."card-text text-center"-->
                    </a>
                    <p class=""><!--class..."card-text col text-center"-->
                      Descipcion breve del video de youtube
                    </p>
                  </div>
                </div>
              </span>
            </div>
          </li>
          <!--Hasta aqui-->

          <!--Terminan los videos de busqueda-->

          
        </ul>
      </div>

      <div class=""><!--class..."col-2 text-center"-->
        <h2>Curso Recomendado</h2>
        <ul class=""><!--class..."list-group"-->
          <li class=""><!--class..."list-group-item"-->
            <div class=""><!--class..."card"-->
              <span class=""><!--class..."border border-primary rounded"-->
                <div class=""><!--class..."col-auto text-center"-->
                  <a href="https://www.youtube.com">
                    <img src="../../static/img/login_botrep.jpg" width="100%" alt="">
                  </a>
                  <h3>Titulo</h3>
                  <h5>Plataforma</h5>
                  <a href="https://www.youtube.com">
                    <p class=""><!--class..."card-text col text-center"-->
                      YouTube
                    </p>
                  </a>
                  <p>
                    Breve descripcion del video de youtube
                  </p>
                </div>               
              </span>
            </div>
          </li>
        </ul>
        <h2>Cursos de ESCOM</h2>
          <ul class=""><!--class..."list-group"-->
            <li class=""><!--class..."list-group-item"-->
              <div class=""><!--class..."card"-->
                <span class=""><!--class..."border border-primary rounded"-->
                  <div class=""><!--class..."col-auto text-center"-->
                    <p class=""><!--class..."card-text col text-center"-->
                      <a href="https://www.youtube.com">
                        <img src="../../static/img/login_botrep.jpg" width="100%" alt="">
                      </a>
                      <p>Titulo</p>
                      <p>Tema1,Tema2</p>
                      <a href="https://www.youtube.com">
                        <p class=""><!--class..."card-text col text-center"-->
                          Ingresar al Curso
                        </p>
                      </a>
                      Breve Descripcion del video del profesor de ESCOM
                    </p>
                  </div>               
                </span>
              </div>
            </li>
                        
          </ul>
      </div>
    </div>  
  </div> 
</section>
    
{% endblock %}