<html lang="es">
  <head> 
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C-Finder</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'cursos/css/v_cursos.css' %}">
  </head>

  <body id="overview">   
    <!--Inicio de la Nav Bar-->
    <p>asdasdsa</p>
    <nav>  
        <a href="#">
          <img src="{% static 'cursos/img/cfinderv2_v2.png' %}" width="100px" alt="" />
        </a> 
        <a href="" style="color: black" 
          <img src="{% static 'cursos/img/logpng.png' %}" width="30px" alt="" />
          Usuario
        </a> 
      <div> 
        <form action="" style="width: 100">  
            <input
              type=""
              type="search"
              placeholder="Ingresa la busqueda" 
            <button type="submit"> 
              Buscar🔎
            </button> 
        </form>
      </div>
    </nav>
    <!--Fin de la -->
  <!--Inicio de los cursos-->
<section>  
      <div> 
        <div> 
          <h2>Cursos Buscados</h2>
        </div>
        <ul> <!--Autocrea--> 
          <li> 
            <div> 
              <span>   
                <div> 
                  <h3>Titulo</h3>
                    <a href="#">
                      <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="100px" alt="">
                    </a> 
                    <h5> Plataforma:</h5> <p>{% lorem 4 b random %}</p>
                    <a href="https://www.youtube.com">
                      <p>YouTube</p> 
                    </a>
                    <p> 
                      Descipcion breve del video de youtube
                    </p>
                  </div> 
              </span>
            </div>
          </li>
          <!--Hasta aqui-->

          <!--Terminan los videos de busqueda-->

          
        </ul>
      </div>

      <div><!--class..."col-2 text-center"-->
        <h2>Curso Recomendado</h2>
        <ul><!--class..."list-group"-->
          <li><!--class..."list-group-item"-->
            <div><!--class..."card"-->
              <span><!--class..."border border-primary rounded"-->
                <div><!--class..."col-auto text-center"-->
                  <a href="https://www.youtube.com">
                    <img src="../../static/img/login_botrep.jpg" width="100%" alt="">
                  </a>
                  <h3>Titulo</h3>
                  <h5>Plataforma</h5>
                  <a href="https://www.youtube.com">
                    <p><!--class..."card-text col text-center"-->
                      YouTube
                    </p>
                  </a>
                  <p>
                    Breve descripcion del video de youtube
                  </p>
                </div>               
              </span>
            </div>
          </li>
        </ul>
        <h2>Cursos de ESCOM</h2>
          <ul><!--class..."list-group"-->
            <li><!--class..."list-group-item"-->
              <div><!--class..."card"-->
                <span><!--class..."border border-primary rounded"-->
                  <div><!--class..."col-auto text-center"-->
                    <p><!--class..."card-text col text-center"-->
                      <a href="https://www.youtube.com">
                        <img src="../../static/img/login_botrep.jpg" width="100%" alt="">
                      </a>
                      <p>Titulo</p>
                      <p>Tema1,Tema2</p>
                      <a href="https://www.youtube.com">
                        <p><!--class..."card-text col text-center"-->
                          Ingresar al Curso
                        </p>
                      </a>
                      Breve Descripcion del video del profesor de ESCOM
                    </p>
                  </div>               
                </span>
              </div>
            </li>
                        
          </ul>
      </div> 
</section>
    <!-- Footer -->
    <footer> 
      <p>
        <a href="#">
          <span>
            <i></i>
            <i></i>
          </span>
        </a>
        <a href="#">
          <span>
            <i> </i>
            <i> </i>
          </span>
        </a>
        <a href="#">
          <span>
            <i></i>
            <i></i>
          </span>
        </a>
      </p>
      <p>
        <a href="#">Política de privacidad</a> · <a href="#">Aviso legal</a> ·
        <a href="#">Cookies</a>
      </p>
      <p>&copy; C-Finder 2022</p> 
    </footer> 
</body>
</html>
