<html lang="es">
  <head> 
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C-Finder</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'cursos/css/v_cursos.css' %}"> 
  </head>

  <body>   
    <!--Inicio de la Nav Bar-->    
    <div class="navbar"> 
        <ul>
          <li id="logo" ><a href="#"><img class = "app-logo"src="{% static 'cursos/img/cfinderv2_v2.png' %}"  width="60px" alt="" /></a></li>
          <li style="padding-top:5px"><a href="#" ><img src="{% static 'cursos/img/logpng.png' %}" width="30px" alt="" /></a></li>
          <li><a href="#" style="font-size:30px;padding-top:15px;"> Usuario </a></li> 
          <li>
            <form action="" style="width: 100; padding-top:13px">  
                <input
                  type=""
                  type="search"
                  placeholder="Ingresa la busqueda" 
                <button type="submit"> 
                  Buscar🔎
                </button> 
            </form> 
          </li>  
        </ul>   
    </div>
    <!--Fin de la nav-->
  <!--Inicio de los cursos-->
    <section class="sectionmain" >  
      <div class="container1"> 
        <div> 
          <div> 
            <h1>Cursos Buscados</h1>
          </div> <!--Autocrea-->  
          <div class = "card-buscados">   
            <a href="#">
              <h2>Titulo</h2>
              <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="45%" alt="">
            </a> <hr/>
            <h5> Plataforma:</h5>
            <p> 
              Descipcion breve 
            </p>
            <a href="https://www.youtube.com">
              <p>YouTube</p> 
            </a>
             <p>{% lorem 2 b random %}</p>
              
          </div>  
        </div>
  
        <div>
          <div> 
            <h1>Curso Recomendado</h1>
          </div>  <!--Autocrea-->  
          <div class = "card-buscados">   
            <a href="#">
              <h2>Titulo</h2>
              <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="45%" alt="">
            </a> <hr/>
            <h5> Plataforma:</h5>
            <p> 
              Descipcion breve 
            </p>
            <a href="https://www.youtube.com">
              <p>YouTube</p> 
            </a>
             <p>{% lorem 2 b random %}</p>
              
          </div>  
        </div>

        <div>  
          <div> 
            <h1>Cursos de ESCOM</h1>
          </div>  <!--Autocrea-->  
          <div class = "card-buscados">   
            <a href="#">
              <h2>Titulo</h2>
              <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="45%" alt="">
            </a> <hr/>
            <h5> Plataforma:</h5>
            <p> 
              Descipcion breve 
            </p>
            <a href="https://www.youtube.com">
              <p>YouTube</p> 
            </a>
             <p>{% lorem 2 b random %}</p>
              
          </div>  
        </div>  
      </div> <!--End conteiner1-->

      <div class="container2">
        <h1 style="font-size: 2em;">Tambien podria interesarte</h1>
        <div class="card-sidebar">
          <a href="#"> 
            <div class=""> 
              <h2>Cursos de escom</h2>
            </div>
            <div class=""> 
              <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="100%" alt="">
              <br/>
              <hr/> 
              <p>Reprehenderit mollitia consectetur assumenda quis quos.</p>
            </div>
          </a>
        </div> 
        <div class="card-sidebar">
          <a href="#"> 

            <div class=""> 
              <h2>Cursos de escom</h2>
            </div>
            <div class=""> 
              <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="100%" alt="">
              <br/>
              <hr/> 
              <p>Reprehenderit mollitia consectetur assumenda quis quos.</p>
            </div>
          </a>
        </div> 
        <div class="card-sidebar">
          <a href="#"> 

            <div class=""> 
              <h2>Cursos de escom</h2>
            </div>
            <div class=""> 
              <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="100%" alt="">
              <br/>
              <hr/> 
              <p>Reprehenderit mollitia consectetur assumenda quis quos.</p>
            </div>
          </a>
        </div> 
        <div class="card-sidebar">
          <a href="#"> 

            <div class=""> 
              <h2>Cursos de escom</h2>
            </div>
            <div class=""> 
              <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="100%" alt="">
              <br/>
              <hr/> 
              <p>Reprehenderit mollitia consectetur assumenda quis quos.</p>
            </div>
          </a>
        </div> 
        <div class="card-sidebar">
          <a href="#"> 

            <div class=""> 
              <h2>Cursos de escom</h2>
            </div>
            <div class=""> 
              <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="100%" alt="">
              <br/>
              <hr/> 
              <p>Reprehenderit mollitia consectetur assumenda quis quos.</p>
            </div>
          </a>
        </div> 
      </div> <!--End conteiner2-->
    </section>
    <!--Fin de los cursos-->

    <!-- Footer -->
    <div class="footer"> 
      <p>
        <a href="#">
          <span>
            <i></i>
            <i></i>
          </span>
        </a>
        <a href="#">
          <span>
            <i> </i>
            <i> </i>
          </span>
        </a>
        <a href="#">
          <span>
            <i></i>
            <i></i>
          </span>
        </a>
      </p>
      <p>
        <a href="#">Política de privacidad</a> · <a href="#">Aviso legal</a> ·
        <a href="#">Cookies</a>
      </p>
      <p>&copy; C-Finder 2022</p> 
    </div> 
</body>
</html>
