{% extends "cursos/base.html" %} {% load static %} {%block content %}

    <!--Fin de la nav-->
    <section>
      <div class="container"><!--class..."container"-->
        <div class="row align-items-center"><!--class..."row align-items-center"-->
          <!--Vista Previa-->
          <div class="col align-items-center"><!--class..."col align-items-center"-->
            <!--Titulo-->
            <h3 class="fw-bold text-center py-4">Vista previa</h3><!--class..."fw-bold text-center py-4"-->

            <!--Vista-->
            <div class="card"><!--class..."card"-->
              <h5 class="card-header">Titulo</h5><!--class..."card-header"-->
              <div class="card-body"><!--class..."card-body"-->
                <h5 class="card-title">Tema</h5><!--class..."card-title"-->
                <p class="card-text">En este curso podremos apreciar...</p><!--class..."card-text"-->
                <img src="{% static 'cursos/img/login_botrep.jpg' %}" width="500" alt="" />
              </div>
            </div>

            <div class="mb-4 text-start"><!--class..."mb-4 text-start"-->
              <label for="videocomp" class="form-label fw-bold">
                Sube la imagen de previsualizacion de tu video</label><!--class..."form-label fw-bold"-->
              <input
                class="form-control"
                type="file"
                id="videocomp"
                accept=".jpg, .png"
              />
            </div>
          </div>

          <!--Formulario-->
          <div class="col"><!--class..."col"-->
            <div class="text-end"><!--class..."text-end"-->
              
              <h2 class="fw-bold text-center py-4">Subida de Cursos</h2><!--class..."fw-bold text-center py-4"-->

              <form action="#">
                <!--Informacion General-->

                <!--Titulo-->
                <div class="md-4 text-start"><!--class..."md-4 text-start"-->
                  <label for="vidname" class="form-label fw-bold"><!--class..."form-label fw-bold"-->
                    Titulo del Video
                  </label>
                  <input
                    type="vidname"
                    class="form-control"
                    name="vidname"
                    placeholder="Ingrese el titulo del video"
                  />
                </div>

                <!--Temas-->
                <div class="md-4 text-start"><!--class..."md-4 text-start"-->
                  <label for="vidtem" class="form-label fw-bold"><!--class..."form-label fw-bold"-->
                    Temas del video
                  </label>
                  <input
                    type="vidtem"
                    class="form-control"
                    name="vidtem"
                    placeholder="Ingrese los temas vistos en el video"
                  />
                </div>

                <!--Descipcion-->
                <div class="md-4 text-start"><!--class..."md-4 text-start"-->
                  <label for="viddesc" class="form-label fw-bold"
                    >Descripcion del video</label><!--class..."form-label fw-bold"-->
                  <textarea
                    class="form-control"
                    rows="5"
                    id="viddesc"
                    placeholder="Ingrese una breve descripcion del video"
                  ></textarea>
                </div>

                <!--Seleccionar archivo-->
                <div class="mb-4 text-start"><!--class..."mb-4 text-start"-->
                  <label for="videocomp" class="form-label fw-bold"
                    >Sube tu archivo</label><!--class..."form-label fw-bold"-->
                  <input
                    class="form-control"
                    type="file"
                    id="videocomp"
                    accept=".mp4, .mov, .avi"
                  />
                </div>

                <!--Boton de subida-->
                <div class="d-grid"><!--class..."d-grid"-->
                  <button type="submit" class="btn btn-primary text-center"><!--class..."btn btn-primary text-center"-->
                    Publicar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section> 

    {% endblock %}
