{% extends "cursos/base.html" %} {% load static %} {%block content %}

    <!--Fin de la nav-->
    <section>
      <div class=""><!--class..."container"-->
        <div class=""><!--class..."row align-items-center"-->
          <!--Vista Previa-->
          <div class=""><!--class..."col align-items-center"-->
            <!--Titulo-->
            <h3 class="">Vista previa</h3><!--class..."fw-bold text-center py-4"-->

            <!--Vista-->
            <div class=""><!--class..."card"-->
              <h5 class="">Titulo</h5><!--class..."card-header"-->
              <div class=""><!--class..."card-body"-->
                <h5 class="">Tema</h5><!--class..."card-title"-->
                <p class="">En este curso podremos apreciar...</p><!--class..."card-text"-->
                <img src="../../static/login_botrep.jpg" width="500" alt="" />
              </div>
            </div>

            <div class=""><!--class..."mb-4 text-start"-->
              <label for="videocomp" class=""
                >Sube la imagen de previsualizacion de tu video</label><!--class..."form-label fw-bold"-->
              <input
                class="form-control"
                type="file"
                id="videocomp"
                accept=".jpg, .png"
              />
            </div>
          </div>

          <!--Formulario-->
          <div class=""><!--class..."col"-->
            <div class=""><!--class..."text-end"-->
              <img src="../../static/logpng.png" width="40" height="40" alt="" />
              <label for="" class="">Usuario</label><!--class..."fw-bold"-->
              <img src="../../static/cfinderv2_v2.png" width="120" alt="" />

              <h2 class="">Subida de Cursos</h2><!--class..."fw-bold text-center py-4"-->

              <form action="#">
                <!--Informacion General-->

                <!--Titulo-->
                <div class=""><!--class..."md-4 text-start"-->
                  <label for="vidname" class=""><!--class..."form-label fw-bold"-->
                    Titulo del Video
                  </label>
                  <input
                    type="vidname"
                    class="form-control"
                    name="vidname"
                    placeholder="Ingrese el titulo del video"
                  />
                </div>

                <!--Temas-->
                <div class=""><!--class..."md-4 text-start"-->
                  <label for="vidtem" class=""><!--class..."form-label fw-bold"-->
                    Temas del video
                  </label>
                  <input
                    type="vidtem"
                    class="form-control"
                    name="vidtem"
                    placeholder="Ingrese los temas vistos en el video"
                  />
                </div>

                <!--Descipcion-->
                <div class=""><!--class..."md-4 text-start"-->
                  <label for="viddesc" class=""
                    >Descripcion del video</label><!--class..."form-label fw-bold"-->
                  <textarea
                    class="form-control"
                    rows="5"
                    id="viddesc"
                    placeholder="Ingrese una breve descripcion del video"
                  ></textarea>
                </div>

                <!--Seleccionar archivo-->
                <div class=""><!--class..."mb-4 text-start"-->
                  <label for="videocomp" class=""
                    >Sube tu archivo</label><!--class..."form-label fw-bold"-->
                  <input
                    class="form-control"
                    type="file"
                    id="videocomp"
                    accept=".mp4, .mov, .avi"
                  />
                </div>

                <!--Boton de subida-->
                <div class=""><!--class..."d-grid"-->
                  <button type="submit" class=""><!--class..."btn btn-primary text-center"-->
                    Publicar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section> 

    {% endblock %}
