{% extends "cursos/base.html" %} {% load static %} {%block content %}
<!--Inicio de los cursos-->
<section class="sectionmain" style="
padding: 85px;">
  <div class="container1">
    <div>
      <div>
        <h1>Cursos Buscados</h1>
      </div>
      <!--Autocrea-->
      {% for curso in cursos %}
      <div class="card-buscados">
        <a href="#">
          <h2>{{curso.titulo}}</h2>
          <!--titulo-->
          <img src="{{curso.imagen.url}}" width="45%" alt="" />
          <!--Imagen del curso-->
        </a>
        <p>{{curso.description}}</p>
        <!--Descripcion del curso-->
        <hr />
        <h5>Plataforma:</h5>
        <a href="{{curso.enlace}}">
          <!--Link del curso-->
          <p>{{curso.nombrePlataforma}}</p>
          <!--Plataforma del curso-->
        </a>

        <p>{{curso.description_vid}}</p>
        <!--Descripcion del video del curso-->
      </div>
      {% endfor %} {% comment %} fin autocrea {% endcomment %}
    </div>
  </div>
  <!--End conteiner1-->

  <div class="container2">
    <h1 style="font-size: 2em">Tambien podria interesarte</h1>
    {% comment %} aqui comienza el right side bar {% endcomment %}
    <div class="card-sidebar">
      <a href="#">
        <div class="">
          <h2>Tasa interna de rendimiento TIR</h2>
        </div>
        <div class="">
          <img
            src="{% static 'cursos/img/youtube_logo.png' %}"
            width="100%"
            alt=""
            href="https://www.youtube.com/watch?v=SyWRHmzKNZ0&ab_channel=T%C3%BA%2CyoyelTE"
          />
          <br />
          <hr />
          <p>
            Tasa interna de rendimiento, TIR, Tasa interna de retorno, qué
            significa la TIR, cómo se calcula la TIR por el método ensayo y
            error
          </p>
        </div>
      </a>
    </div>
  </div>
  <!--End conteiner2-->
</section>
<!--Fin de los cursos-->

{% endblock %}
